body {
    background-color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#board {
    margin: 100px auto;
    width: 560px;
    border: solid black 4px;
    box-shadow: 4px 4px 12px 0px rgba(66, 68, 90, 1);
}

.row {
    display: flex;
}

.tile {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #b58863;
    color: #f0d9b5;
}

.tile-variant {
    background-color: #f0d9b5;
    color: #b58863;
}

.notation {
    position: absolute;
    font-size: 16px;
}

.notation-top {
    top: 4px;
    left: 4px;
}

.notation-bot {
    bottom: 4px;
    right: 4px;
}